{% extends 'mybase.html' %}
{% block head %}
<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
</style>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'complete/jquery-autocomplete.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'complete/style.css' %}"/>

{% endblock %}
{% block pagetitle %}
Auto Complete Test
{% endblock %}


{% block body %}
<script>
//auto complete stuff(god help me) 
$(document).ready(function(){
    //var gibberish = ['aaa', 'aab', 'aac', 'aba', 'aca', 'baa', 'caa', 'abc', 'aabc']
    $("#autocomplete").autocomplete({
        //lookup: gibberish,
        serviceUrl:'{% url "complete:api_search" %}',
        transformResult: function(response){
            console.log('response', response);
            var parsed = JSON.parse(response);        
            console.log('suggestions', parsed.suggestions);
            return {
                suggestions: $.map(parsed.suggestions, function(dataItem){
                    return {
                        value: dataItem.fields.name,
                        data: dataItem.pk
                    }
                })
            };
        },
        onSelect: function(selected){
            //$('#infobox').html('You selected ' + selected.value + ' ' + selected.data );
            $.get('{% url "complete:none" %}' + selected.data, function(data){
                $('#infobox').html(data);
            });
        }

    });
});
</script>



<div class='container'>
    <div class = 'box'>

    <input placeholder='type here!' type='text' name='searchbox' id='autocomplete'>
    </div>

    <div style= 'clear:both'></div>
</div>

<div id = 'infobox'>
</div>
{% endblock %}

